  .lugares{
        float: right;
    	height: 80px;
    	width: 80px;
    	background-color: #4ECDC4;
    	border-radius: 5px;
    	display: inline-block;
        margin: 3px;
    }
    
    a{
     text-decoration:none;   
    }

.Lugares_div{
    	border: 2px solid gray;
        margin-left: 200px ;
        margin-right: 100px;
        width: 150px%;
        background-color: #922525;
        text-align: center;
        padding: 8px;
        border-radius: 20%;
    }

 .bodyLugares{
    	background-color: #1F1F20;
    	margin-left: 300px;
    	margin-right: 300px;
    	margin-top: 20px;
    }
    