/*body {
  background-color: #f3fbfd;
  overflow: hidden;
}*/

.pixar {
  position: absolute;
  bottom: 40%;
  right: -50%;
  width: 132px;
  margin-left: -66px;
  text-align: center;
  line-height: 0;
  -webkit-animation: walk 15s linear infinite;
          animation: walk 15s linear infinite;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.pixar div {
  display: inline-block;
}
.pixar .head {
  position: relative;
  margin-left: 35px;
  width: 80px;
  height: 80px;
  margin-bottom: -24px;
  z-index: 4;
  -webkit-animation: jump-head 1s linear infinite;
          animation: jump-head 1s linear infinite;
}
.pixar .head:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 70%;
  border: solid 7px #8bb1c3;
  background-color: #dcf0ef;
  border-radius: 50% 0 0 50%;
  z-index: 4;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
}
.pixar .head:after {
  content: '';
  position: absolute;
  top: 18%;
  left: -7px;
  width: 10px;
  height: 10px;
  border: solid 7px #8bb1c3;
  background-color: #dcf0ef;
  border-radius: 50%;
}
.pixar .head .lamp {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 38px;
  height: 38px;
  margin: -23px 0 0 -15px;
  border: solid 5px #8bb1c3;
  border-radius: 50%;
  background-color: #fdefcf;
}
.pixar .body .arm {
  position: relative;
  display: block;
  width: 5px;
  height: 48px;
  border-left: solid 7px #8bb1c3;
  border-right: solid 7px #8bb1c3;
  background-color: #dcf0ef;
}
.pixar .body .arm-top {
  margin-bottom: -10px;
  -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: rotateZ(30deg);
          transform: rotateZ(30deg);
  z-index: 3;
  -webkit-animation: jump-arm-top 1s linear infinite;
          animation: jump-arm-top 1s linear infinite;
}
.pixar .body .arm-top:before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-left: -15px;
  border: solid 7px #8bb1c3;
  border-radius: 50%;
  background-color: #dcf0ef;
}
.pixar .body .arm-top:after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  border-radius: 50%;
  background-color: #8bb1c3;
}
.pixar .body .arm-middle {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotateZ(-40deg);
          transform: rotateZ(-40deg);
  margin-bottom: -10px;
  margin-left: -5px;
  z-index: 2;
  -webkit-animation: jump-arm-middle 1s linear infinite;
          animation: jump-arm-middle 1s linear infinite;
}
.pixar .body .arm-middle:before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-left: -15px;
  border: solid 7px #8bb1c3;
  border-radius: 50%;
  background-color: #dcf0ef;
}
.pixar .body .arm-middle:after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  border-radius: 50%;
  background-color: #8bb1c3;
}
.pixar .body .arm-bottom {
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
  margin-left: -5px;
  margin-bottom: -5px;
  z-index: 1;
  -webkit-animation: jump-arm-bottom 1s linear infinite;
          animation: jump-arm-bottom 1s linear infinite;
}
.pixar .footer {
  position: relative;
  width: 118px;
  height: 12px;
  border: solid 7px #8bb1c3;
  border-radius: 16px 16px 2px 2px;
  background-color: #dcf0ef;
  z-index: 4;
  -webkit-animation: jump-footer 1s linear infinite;
          animation: jump-footer 1s linear infinite;
}

@-webkit-keyframes walk {
  3.33333% {
    bottom: 40%;
    right: -20%;
  }
  4.66667% {
    bottom: 56.66667%;
    right: -15.33333%;
  }
  6.66667% {
    bottom: 40%;
    right: -10.66667%;
  }
  10% {
    bottom: 40%;
    right: -10.66667%;
  }
  11.33333% {
    bottom: 56.66667%;
    right: -6%;
  }
  13.33333% {
    bottom: 40%;
    right: -1.33333%;
  }
  16.66667% {
    bottom: 40%;
    right: -1.33333%;
  }
  18% {
    bottom: 56.66667%;
    right: 3.33333%;
  }
  20% {
    bottom: 40%;
    right: 8%;
  }
  23.33333% {
    bottom: 40%;
    right: 8.0%;
  }
  24.66667% {
    bottom: 56.66667%;
    right: 12.66667%;
  }
  26.66667% {
    bottom: 40%;
    right: 17.33333%;
  }
  30.0% {
    bottom: 40%;
    right: 17.33333%;
  }
  31.33333% {
    bottom: 56.66667%;
    right: 22%;
  }
  33.33333% {
    bottom: 40%;
    right: 26.66667%;
  }
  36.66667% {
    bottom: 40%;
    right: 26.66667%;
  }
  38% {
    bottom: 56.66667%;
    right: 31.33333%;
  }
  40% {
    bottom: 40%;
    right: 36%;
  }
  43.33333% {
    bottom: 40%;
    right: 36.0%;
  }
  44.66667% {
    bottom: 56.66667%;
    right: 40.66667%;
  }
  46.66667% {
    bottom: 40%;
    right: 45.33333%;
  }
  50.0% {
    bottom: 40%;
    right: 45.33333%;
  }
  51.33333% {
    bottom: 56.66667%;
    right: 50.0%;
  }
  53.33333% {
    bottom: 40%;
    right: 54.66667%;
  }
  56.66667% {
    bottom: 40%;
    right: 54.66667%;
  }
  58.0% {
    bottom: 56.66667%;
    right: 59.33333%;
  }
  60% {
    bottom: 40%;
    right: 64%;
  }
  63.33333% {
    bottom: 40%;
    right: 64.0%;
  }
  64.66667% {
    bottom: 56.66667%;
    right: 68.66667%;
  }
  66.66667% {
    bottom: 40%;
    right: 73.33333%;
  }
  70% {
    bottom: 40%;
    right: 73.33333%;
  }
  71.33333% {
    bottom: 56.66667%;
    right: 78.0%;
  }
  73.33333% {
    bottom: 40%;
    right: 82.66667%;
  }
  76.66667% {
    bottom: 40%;
    right: 82.66667%;
  }
  78% {
    bottom: 56.66667%;
    right: 87.33333%;
  }
  80% {
    bottom: 40%;
    right: 92%;
  }
  83.33333% {
    bottom: 40%;
    right: 92.0%;
  }
  84.66667% {
    bottom: 56.66667%;
    right: 96.66667%;
  }
  86.66667% {
    bottom: 40%;
    right: 101.33333%;
  }
  90% {
    bottom: 40%;
    right: 101.33333%;
  }
  91.33333% {
    bottom: 56.66667%;
    right: 106.0%;
  }
  93.33333% {
    bottom: 40%;
    right: 110.66667%;
  }
  96.66667% {
    bottom: 40%;
    right: 110.66667%;
  }
  98% {
    bottom: 56.66667%;
    right: 115.33333%;
  }
  100% {
    bottom: 40%;
    right: 120%;
  }
}

@keyframes walk {
  3.33333% {
    bottom: 40%;
    right: -20%;
  }
  4.66667% {
    bottom: 56.66667%;
    right: -15.33333%;
  }
  6.66667% {
    bottom: 40%;
    right: -10.66667%;
  }
  10% {
    bottom: 40%;
    right: -10.66667%;
  }
  11.33333% {
    bottom: 56.66667%;
    right: -6%;
  }
  13.33333% {
    bottom: 40%;
    right: -1.33333%;
  }
  16.66667% {
    bottom: 40%;
    right: -1.33333%;
  }
  18% {
    bottom: 56.66667%;
    right: 3.33333%;
  }
  20% {
    bottom: 40%;
    right: 8%;
  }
  23.33333% {
    bottom: 40%;
    right: 8.0%;
  }
  24.66667% {
    bottom: 56.66667%;
    right: 12.66667%;
  }
  26.66667% {
    bottom: 40%;
    right: 17.33333%;
  }
  30.0% {
    bottom: 40%;
    right: 17.33333%;
  }
  31.33333% {
    bottom: 56.66667%;
    right: 22%;
  }
  33.33333% {
    bottom: 40%;
    right: 26.66667%;
  }
  36.66667% {
    bottom: 40%;
    right: 26.66667%;
  }
  38% {
    bottom: 56.66667%;
    right: 31.33333%;
  }
  40% {
    bottom: 40%;
    right: 36%;
  }
  43.33333% {
    bottom: 40%;
    right: 36.0%;
  }
  44.66667% {
    bottom: 56.66667%;
    right: 40.66667%;
  }
  46.66667% {
    bottom: 40%;
    right: 45.33333%;
  }
  50.0% {
    bottom: 40%;
    right: 45.33333%;
  }
  51.33333% {
    bottom: 56.66667%;
    right: 50.0%;
  }
  53.33333% {
    bottom: 40%;
    right: 54.66667%;
  }
  56.66667% {
    bottom: 40%;
    right: 54.66667%;
  }
  58.0% {
    bottom: 56.66667%;
    right: 59.33333%;
  }
  60% {
    bottom: 40%;
    right: 64%;
  }
  63.33333% {
    bottom: 40%;
    right: 64.0%;
  }
  64.66667% {
    bottom: 56.66667%;
    right: 68.66667%;
  }
  66.66667% {
    bottom: 40%;
    right: 73.33333%;
  }
  70% {
    bottom: 40%;
    right: 73.33333%;
  }
  71.33333% {
    bottom: 56.66667%;
    right: 78.0%;
  }
  73.33333% {
    bottom: 40%;
    right: 82.66667%;
  }
  76.66667% {
    bottom: 40%;
    right: 82.66667%;
  }
  78% {
    bottom: 56.66667%;
    right: 87.33333%;
  }
  80% {
    bottom: 40%;
    right: 92%;
  }
  83.33333% {
    bottom: 40%;
    right: 92.0%;
  }
  84.66667% {
    bottom: 56.66667%;
    right: 96.66667%;
  }
  86.66667% {
    bottom: 40%;
    right: 101.33333%;
  }
  90% {
    bottom: 40%;
    right: 101.33333%;
  }
  91.33333% {
    bottom: 56.66667%;
    right: 106.0%;
  }
  93.33333% {
    bottom: 40%;
    right: 110.66667%;
  }
  96.66667% {
    bottom: 40%;
    right: 110.66667%;
  }
  98% {
    bottom: 56.66667%;
    right: 115.33333%;
  }
  100% {
    bottom: 40%;
    right: 120%;
  }
}
@-webkit-keyframes jump-head {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  70% {
    -webkit-transform: rotateZ(-50deg);
            transform: rotateZ(-50deg);
  }
}
@keyframes jump-head {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  70% {
    -webkit-transform: rotateZ(-50deg);
            transform: rotateZ(-50deg);
  }
}
@-webkit-keyframes jump-arm-top {
  0% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
    margin-bottom: -10px;
  }
  50% {
    -webkit-transform: rotateZ(60deg);
            transform: rotateZ(60deg);
    margin-bottom: -35px;
  }
  70% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    margin-bottom: 0;
  }
}
@keyframes jump-arm-top {
  0% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
    margin-bottom: -10px;
  }
  50% {
    -webkit-transform: rotateZ(60deg);
            transform: rotateZ(60deg);
    margin-bottom: -35px;
  }
  70% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    margin-bottom: 0;
  }
}
@-webkit-keyframes jump-arm-middle {
  0% {
    -webkit-transform: rotateZ(-40deg);
            transform: rotateZ(-40deg);
    margin-bottom: -10px;
  }
  50% {
    -webkit-transform: rotateZ(-80deg);
            transform: rotateZ(-80deg);
    margin-left: -16px;
    margin-bottom: -30px;
  }
  70% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    margin-left: -5px;
    margin-bottom: 0;
  }
}
@keyframes jump-arm-middle {
  0% {
    -webkit-transform: rotateZ(-40deg);
            transform: rotateZ(-40deg);
    margin-bottom: -10px;
  }
  50% {
    -webkit-transform: rotateZ(-80deg);
            transform: rotateZ(-80deg);
    margin-left: -16px;
    margin-bottom: -30px;
  }
  70% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    margin-left: -5px;
    margin-bottom: 0;
  }
}
@-webkit-keyframes jump-arm-bottom {
  0% {
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  50% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  70% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}
@keyframes jump-arm-bottom {
  0% {
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  50% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  70% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}
@-webkit-keyframes jump-footer {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  70% {
    -webkit-transform: rotateZ(-40deg);
            transform: rotateZ(-40deg);
  }
}
@keyframes jump-footer {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  70% {
    -webkit-transform: rotateZ(-40deg);
            transform: rotateZ(-40deg);
  }
}
