@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.bodyLug {
  color: #d9e1b6;
  background: #191a18;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  padding: 25px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin: 10px 10px 0 0;
  padding: 15px;
  width: 50px;
  height: 50px;
  background: #d9e1b6;
  cursor: pointer;
  color: #191a18;
  float: left;
  transition: background 0.2s;
  box-shadow: 0 0 5px black;
}

li.focus {
  background: #B6DB23;
}

.ghost {
  position: fixed;
  z-index: 1000;
  background: rgba(182, 219, 35, 0.2);
  box-shadow: inset 0 0 0 1px #B6DB23;
}